@import "tailwindcss";
@import "tailwindcss/preflight";

@theme {
  --color-primary: #0A66C2;
  --color-primary-light: #0B84F3;
  --color-accent: #1AA6FF;
  --color-bg: #F5F9FF;
  --color-card: #EEF3FC;
}

body {
  background: var(--color-bg);
}

.bg-admin {
  background-image:
    linear-gradient(
      to bottom,
      rgba(124,180,173,0) 0%,
      rgba(255,255,255,0.7) 0%,
      rgba(36, 101, 92, 0.8) 50%
    ),
    url('/static/bg.png');
  background-size: cover;
  background-position: center;
}
