@import "tailwindcss";
@import "tailwindcss/preflight";

@theme {
  --color-primary: #0A66C2;
  --color-primary-light: #0B84F3;
  --color-accent: #1AA6FF;
  --color-bg: #F5F9FF;
  --color-card: #EEF3FC;
}

body {
  background: var(--color-bg);
}
